<form n:name="seoForm">
	<div class="form-group">
		{label page_url_end}
		{input page_url_end, class => form-control}
	</div>
	<div class="form-group">
		{label page_category_end}
		{input page_category_end, class => form-control}
	</div>
	<div class="form-group">
		{label site_title_separator}
		{input site_title_separator, class => form-control}
	</div>
	{input send, class => 'btn btn-primary'}
</form>