<form n:name="general">
	<div class="form-group">
		{label site_title}
		{input site_title, class => form-control}
	</div>
	<div class="form-group">
		{label site_title_separator}
		{input site_title_separator, class => form-control}
	</div>
	{input save, class => 'btn btn-primary'}
</form>