{control navigationCreate}
{control navigationSelect}

{dump $menuItems}
<div class="dd" data-ajax-handle="{link updateNavigation!}" data-control-prefix="{$control->getUniqueId()}">

    {define submenu}
        <ol class="dd-list">
            {foreach $menuItems as $menuItem}
                {var $entity = $menuItem->entity}
                <li class="dd-item" data-id="{$entity->id}">
                    <div class="dd-handle">
                        {$entity->name}
                    </div>
                    {ifset $menuItem->descendants}
                        {include this, menuItems => $menuItem->descendants}
                    {/ifset}
                </li>
            {/foreach}
        </ol>
    {/define}
    <ol class="dd-list">
        {foreach $menuItems as $menuItem}
            {var $entity = $menuItem->entity}
            <li class="dd-item" data-id="{$entity->id}">
                <div class="dd-handle">
                    {$entity->name}
                    <span class="dd-nodrag">
						<a n:href="deleteNavigationItem! $entity->id">Odstranit</a>
					</span>
                </div>
                {ifset $menuItem->descendants}
                    {include submenu, menuItems => $menuItem->descendants}
                {/ifset}
            </li>
        {/foreach}
    </ol>

</div>

{control menuItems}

<script>
    $('.dd').nestable({
        maxDepth: 5,
        effect: {
            animation: 'fade',
            time: 'slow'
        }
    }).on('change', function (event) {
        var list = event.length ? event : $(event.target);
        var data = {};
        data[list.data('control-prefix') + '-json'] = JSON.stringify(list.nestable('serialize'));
        $.nette.ajax({
            url: list.data('ajax-handle'),
            type: 'post',
            data: data
        });
    });
</script>