<div class="sidebar">
	<nav class="navbar-default navbar-static-side" role="navigation">
		<ul class="nav navbar-nav">
			{define submenu}
			<ul class="dropdown-menu" role="menu">
				{foreach $items as $item}
					{?$entity = $item->entity}
					<li n:class="$enitity->url ? ($control->presenter->isLinkCurrent($entity->url->absoluteDestination) ? 'active')">
						<a {if $entity->externalUrl}
							href="{$entity->externalUrl}"
						{elseif $entity->url}
							href="{plink $entity->url->absoluteDestination (expand) [id => $enity->url->internalId]}"
						{/if} 
							n:class="$enitity->url ? ($control->presenter->isLinkCurrent($entity->url->absoluteDestination) ? 'active')">
							{$entity->getName()}
						</a>
					</li>
				{/foreach}
				</ul>
			{/define}

			{block menu}
				{foreach $items as $item}
					{?$entity = $item->entity}
					<li n:class="$enitity->url ? ($control->presenter->isLinkCurrent($entity->url->absoluteDestination(true)) ? 'active')">
						<a n:class="$presenter->isLinkCurrent($entity->url->absoluteDestination(true)) ? 'active')"
						{if $entity->externalUrl}
							href="{$entity->externalUrl}"
						{elseif $entity->url}
							href="{plink $entity->url->absoluteDestination (expand) [id => $enity->url->internalId]}"
						{/if} 
						{ifset $item->descendants}data-toggle="dropdown"{/ifset}>
							<span class="icon {$wntity->icon}"></span>
							{$entity->getName()}
							{ifset $item->descendants}
								<span class="ico flaticon-next21"></span>
							{/ifset}
						</a>
						{ifset $item->descendants}
							{include submenu items => $item->descendants}
						{/ifset}
					</li>
				{/foreach}
			{/block}
		</ul>
	</nav>
</div>

