<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			{block menu}
			{foreach $items as $item}
				{var $entity = $item->entity}
				<li class="{if $entity->url !== null}{$control->presenter->isLinkCurrent($entity->url->getAbsoluteDestination(true)) ? active:""}{/if}{ifset $item->descendants} treeview{/ifset}">
					{include href item => $item}
					{ifset $item->descendants}
						{include submenu items => $item->descendants}
					{/ifset}
				</li>
			{/foreach}
			{/block}
		</ul>
	</section>
</aside>

{define href}
{var $entity = $item->entity}
<a href="{ifset $item->descendants}#{else}{if $entity->externalUrl}{$entity->externalUrl}{elseif $entity->url}{plink $entity->url->getAbsoluteDestination() (expand) [id => $entity->url->internalId]}{/if}{/ifset}">
	<i class="fa {if $entity->icon !== null}{$entity->icon}{else}fa-circle-o{/if}"></i>
	<span>{$entity->getName()}</span>
	{ifset $item->descendants}
		<span class="pull-right-container"><span class="fa fa-angle-left pull-right"></span></span>
	{/ifset}
</a>
{/define}
{define submenu}
<ul class="treeview-menu">
	{foreach $items as $item}
		{var $entity = $item->entity}
		<li class="{$control->presenter->isLinkCurrent($entity->url->getAbsoluteDestination(true)) ? active:""}{ifset $item->descendants} treeview{/ifset}">
			{include href entity => $entity}
		</li>
	{/foreach}
</ul>
{/define}