{block title}Nastavení rozšíření{/block}

{block content}
	{control optionsMenu}
	{if $extensions}
		<h3>Rozšíření</h3>
		{foreach $extensions as $key => $ext}
			<h4>
				{$ext->getName()}
				<small>
					<a n:href="installExtension! $key">Nainstalovat</a>
					<a n:href="uninstallExtension! $key">Odinstalovat</a>
				</small>
			</h4>
		{/foreach}
	{/if}