<div class="panel panel-primary">
    <div class="panel-body table-responsive">
        <table class="table" style="width: 100%">
            <thead>
            <tr>
                <th>Role</th>
                <th>Zdroj</th>
                <th>Create</th>
                <th>Read</th>
                <th>Update</th>
                <th>Delete</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$permissions as $permission">
                {form aclForm-$permission->id}
                    <td>{$permission->role->name}</td>
                    <td>{$permission->resource->name} (<code>{$permission->resource->resource}</code>)</td>
                    <td>{input create}</td>
                    <td>{input read}</td>
                    <td>{input update}</td>
                    <td>{input delete}</td>
                    <td>{input save, class => 'btn btn-default btn-sm'}</td>
                {/form}
            </tr>
            </tbody>
        </table>
    </div>
</div>