<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li {ifCurrent :Options:Admin:Options:acl}class="active"{/ifCurrent}>
					<a href="{plink :Options:Admin:Options:acl}">ACL</a>
				</li>
				<li {ifCurrent :Options:Admin:Options:default}class="active"{/ifCurrent}>
					<a href="{plink :Options:Admin:Options:default}">Rozšíření</a>
				</li>
				<li {ifCurrent :Options:Admin:Options:general}class="active"{/ifCurrent}>
					<a href="{plink :Options:Admin:Options:general}">Obecné nastavení</a>
				</li>
				<li {ifCurrent :Options:Admin:Options:seo}class="active"{/ifCurrent}>
					<a href="{plink :Options:Admin:Options:seo}">Základní SEO</a>
				</li>
			</ul>
		</div>
	</div>
</nav>